@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@500&display=swap');

:root{
    --heading : rgb(3, 194, 194);
    --social-inset : gray;
    --social-color: white;
    --social-offset : red;

        

    --social_color : rgb(255, 255, 255);
    --social_background : gray; 
    --content_li : rgb(13, 226, 226); 
    --boiler-color : rgb(196, 86, 86); 

    
}

.light_theme
{
    --heading : rgb(0, 0, 0);
    --social-inset : rgb(7, 37, 12);
    --social-color : rgb(0, 0, 0);
    --social-offset : rgb(17, 0, 248);

    --social_color : rgb(13, 11, 19);
    --social_background : rgb(177, 231, 145); 
    --content_li : rgb(47, 49, 45);
    --boiler-color: red;
    
}
.light_theme
{
    background-image: url('Images/light\ Theem.jpg');
}

@media only screen and (max-width:767px) {
    body {

        background-attachment: fixed;
    }
    .switch {

        top: 2% !important;
        right: 2%;
    }
    
    

    .social-links {
        display: flex;
        justify-content: left;
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        transition: left 2s, transform 1s;
    
    }
    
    
    .social-links.show {
        left: 30vw;
        
        transform: translateX(-50%);
    }
    
}

body {
  
    font-family: 'Lato', sans-serif;
    background-image: url("Images/DarkTheme\,Wallpaper-Fotor.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.heading {
    font-size: 24px;
    text-shadow: 2px 3px 5px gray;
    color: var(--heading);
    text-align: center; /* Align text to the center */
    opacity: 0; /* Initially hidden */
    animation: fadeIn 0.5s ease 0.5s forwards; /* Animation for delayed appearance */
}







.social-links ul li {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.social-links ul li.show {
    opacity: 1;
}

.social-links {
    display: flex;
    justify-content: left;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    transition: left 2s, transform 1s;

}


.social-links.show {
    left: 15vw;
    /* Shift to the center */
    transform: translateX(-50%);
}










.social-links ul li a {
    color: var(--social-color);
    font-weight: 600;
    text-decoration: none;
    box-shadow: 1px 1px 5px var(--social-offset), inset 2px 0px 5px var(--social-inset);
    border-radius: 20px;
    padding: 1.5vh 2.5vh;
    font-family: 'Poppins', sans-serif;

}

.social-links ul li a:hover {
    padding: 1.6vh 3vh;
    background-color: var(--social_background);
    color: var(--social_color);
    font-weight: 700;
    transition: 200ms ease-in-out;
}

.social-links ul li {

    list-style-type: none;
    padding: 3vh;
}



.social-links {
    z-index: 0;

    /* width: 95vw; */
    overflow: auto;
    /* height: 95vh; */


}

.social-links ul {
    margin-top: 3vh;
    padding: 0px;

}

/*  Rest of content */
/* Initial hiding using opacity */


/* Keyframes for the animation */
@keyframes fadeIn {
    0% { opacity: 0; } /* Start with opacity 0 */
    100% { opacity: 1; } /* Gradually transition to opacity 1 after 1 second */
}


.heading span:hover {
    padding: 15px;
    border-radius: 20px;
}
.aboutme{
    font-size: 25px;
    text-shadow: 2px 3px 5px red;
    color: var(--social_color);
    text-align: center;
    margin-top: 75vh;
}
.content{
    color: var(--social_color);
    margin: 0 auto;
    width: 85vw;
}
h3{
    color : var(--social-offset);
    text-shadow: 0px 0px 2px teal;
}
.content ul li
{
    list-style-type:circle;
    color: var(--content_li);
}
.html{
    border-radius: 10px;
    border: 2px solid var(--social-offset) ;
    box-shadow: 2px 2px 6px var(--social_background), inset 2px 2px 6px var(--social-offset);
    padding: 3px;
    
    width: 70vw;
    margin: 0 auto;
    color: var(--social_color);
    opacity: 70%;
}
.boiler_explain
{

    padding: 10px;
    height: 30vh;
    overflow: auto;
}
.boiler_explain pre{
    
    padding: 20px;
    color: var(--heading);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lote',sans-serif;
    color: var(--boiler-color);
    
}
.html > pre{
   
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.switch {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 7;
    
}
#themeButton{
    background-color: rgba(0, 255, 255, 0.527);
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: larger;
}
#themeButton:hover{
    cursor: pointer;
    background-color: gray;
}
