@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --body: #041118;
    --color: #42B9FC;
}

body {

    background-color: #041118;
    color: var(--color)
}

#logo {

    font-family: 'Great vibes', sans-serif;
    font-size: 60px;
    position: absolute;
    left: 5vh;
    top: 2vh;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.3s;
}


#logo:hover {
    text-shadow: 2px 2px 5px var(--color);
    cursor: pointer;
}

.nav {
    text-align: right;
    margin-left: 37vw;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
.nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 60vw;
}

.nav ul li a {

    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--color);
    padding: 7px 10px;
    border-radius: 20px;
    transition: all 0.3s;
}

.nav ul li a:hover {
    color: #FFFFFF;
    background-color: var(--color);

}


.intro p {
    
    color: #A3D3FF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 10vw;
    margin-top: 10vh;
}

.name {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.8s;
    margin-top: 5vh;
    color: #00AFFA;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10vw;
}

.color-change {
    color: #00AFFA;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
}

.color-change:hover {
    text-shadow: 2px 2px 5px var(--color);
}

.name:hover {
    text-shadow: 0px 0px 5px var(--color);
}

.scroll {
    display: inline-block;
    position: relative;
    top: 90vh;
    left: 50vw;
    cursor: pointer;
    border-radius: 50px;
}

#about {
    
    height: 100vh;
    margin-top: 46vh;
    background-color: #041118;
    padding: 10px;
}

.section-heading {

    color: #6EDB8F;
    font-size: 24px;
    margin-top: 10px;

}

.section-heading:first-child {
    margin-top: 50px;

}

#about p {
    color: #F5F5DC;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 2vh;
    margin-left: 3vh;
}

form {
    margin: 5px;
    padding: 20px;
    margin-left: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;

}

form input {
    margin: 5px;
    padding: 5px;
    color: beige;
    font-weight: bolder;
}

textarea {
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: transparent;
    margin-left: 23vw;
    width: 50vw;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submit {
    text-align: center;
}

.submit button {
    color: white;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: larger;
    cursor: pointer;
    border-radius: 50px;
    background-color: #6EDB8F;
}

.submit button:hover {
    transition: all 0.5s;
    color: black;
    background-color: #6EDB8F;
}

@media only screen and (max-width: 600px) {
    #logo {

        font-family: 'Great vibes', sans-serif;
        font-size: 8vh;
        position: absolute;
        left: 35vw;
    }



    .nav {
        position: sticky;
        top: 3vh;
        margin-top: 10vh;
        margin-left: auto;

    }

    .nav ul {
        width: 90vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        list-style-type: none;


    }

    .nav ul li a {

        font-size: 3.6vw;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: var(--color);
        padding: 5px 7px;
        border-radius: 20px;
        transition: all 0.3s;
    }



    .intro p {
        color: #A3D3FF;
        font-family: Poppins;
        font-size: 7vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        margin-left: 2vw;

    }

    .name {
        margin-top: 5vh;
        color: #00AFFA;
        font-family: Poppins;
        font-size: 12vw;
        font-style: normal;
        font-weight: 400;
        margin-left: 2vw;
    }

    #web_design {
        margin-top: 5vh;
    }

    .scroll {
        display: inline-block;
        position: relative;
        top: 80vh;
        left: 45vw;
        cursor: pointer;
        border-radius: 50px;
    }

    #about {
        margin-top: 35vh;
        background-color: #041118;
    }

    .section-heading {

        color: #6EDB8F;
        font-size: 24px;
        margin-top: 10px;

    }

    .section-heading:first-child {
        margin-top: 8vh;
    }

    textarea {
        font-size: 24px;
        font-family: "cursive", sans-serif;
        color: white;
        background-color: transparent;
        height: 20vh;
        width: 80vw;
        margin-left: 7vw;
    }



}