@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@500&display=swap');

:root{
    --heading : rgb(3, 194, 194);
    --social-inset : gray;
    --social-color: white;
    --social-offset : red;

        

    --social_color : rgb(255, 255, 255);
    --social_background : rgba(133, 228, 220, 0.596); 
    --content_li : rgb(13, 226, 226); 
    --boiler-color : rgb(196, 86, 86); 

    
}

.light_theme
{
    --heading : rgb(0, 0, 0);
    --social-inset : rgb(7, 37, 12);
    --social-color : rgb(0, 0, 0);
    --social-offset : rgb(17, 0, 248);

    --social_color : rgb(13, 11, 19);
    --social_background : rgb(177, 231, 145); 
    --content_li : rgb(47, 49, 45);
    --boiler-color: red;
    
}
.light_theme
{
    background-image: url('Images/light\ Theem.jpg');
}

@media only screen and (max-width:767px) {
    body {

        background-attachment: fixed;
    }
    .switch {

        top: 2% !important;
        right: 2%;
    }
    
    

    .social-links {
        display: flex;
        justify-content: left;
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        transition: left 2s, transform 1s;
    
    }
    
    
    .social-links.show {
        left: 30vw;
        
        transform: translateX(-50%);
    }
    
}

body {
  
    font-family: 'Lato', sans-serif;
    background-image: url("Images/DarkTheme\,Wallpaper-Fotor.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.heading {
    font-size: 30px;
    
    color: var(--heading);
    text-align: center; 
    opacity: 0; 
    animation: fadeIn 0.5s ease 0.5s forwards;
}

.social-links ul li {
    opacity: 0;
    margin: 3.5vh 0px;
    transition: opacity 0.5s ease-in-out;
}

.social-links ul li.show {
    opacity: 1;
}

.social-links {
    display: flex;
    justify-content: left;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    transition: left 2s, transform 1s;

}


.social-links.show {
    left: 15vw;
    /* Shift to the center */
    transform: translateX(-50%);
}

.social-links ul li a {
    color: var(--social-color);
    font-weight: lighter;
    text-decoration: none;
    box-shadow: 1px 1px 5px var(--social-offset), inset 2px 0px 5px var(--social-inset);
    border-radius: 30px;
    padding: 2vh 3vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.social-links ul li a:hover {
    padding: 2.2vh 3.5vh;
    background-color: var(--social_background);
    color: var(--social_color);
    font-weight: 300;
    transition: 200ms ease-in-out;

}

.social-links ul li {

    list-style-type: none;
    padding: 2.5vh 3vh;
}



.social-links {
    z-index: 0;

    /* width: 95vw; */
    overflow: auto;
    /* height: 95vh; */


}

.social-links ul {
    margin-top: 3vh;
    padding: 0px;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}


.switch {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 7;
    
}
#themeButton{
    background-color: rgba(0, 255, 255, 0.527);
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: larger;
}
#themeButton:hover{
    cursor: pointer;
    background-color: gray;
}
